DATABASE_URL="postgresql://username:password@localhost:5432/oyster?schema=public"
PORT=3000
JWT_SECRET="replace-with-a-long-random-secret"

CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"

MOYASAR_SECRET_KEY=
MOYASAR_PUBLISHABLE_KEY=
MOYASAR_WEBHOOK_SECRET=
MOYASAR_API_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
MOYASAR_BASE_URL=https://api.moyasar.com/v1
